body{
	padding: 0;
	margin: 0 auto; 
	width: 80rem;
}

header{
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
}

.headerCss{
	width: 100%;
	height: 105px;
}

.headerLogo{
	height: 100%;
	width: 49%;
	margin: 0;
	display: inline-block;
}

.headLogo{
	position: absolute;
	top: 10px;
	left: 5%;
	width: 30%;
	height: 80%;
}

.headerLink{
	width: 49%;
	height: 100%;
	display: inline-block;
}

.headerSearchDiv{
	width: 49%;
	height: 49%;
	position: absolute;
}

.headerSearch {
	position: absolute;
	left: 313px;
	top: 18px;
	width: 219px;
	height: 18px;
	text-indent: 8px;
}


.headerSearch:focus{
	outline: none;
}

.headerSearchImg{
	position: absolute;
	left: 515px;
	top: 18.5px;
	width: 16.7px;
	height: 16.7px;
	border-radius: 2px;
	/* display: inline-block; */
}

.headerSearchImg:focus{
	outline: none;
}
.headerTableDiv{
	width: 49%;
	height: 49%;
	position: absolute;
	top: 32px;
}

.headerCss ul{
	position: absolute;
	left: 8%;
	top: 5px;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #923f40;
}

.headerCss ul>li{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
}


.headerCss a{
	display: inline-block;
	text-decoration: none;
	color: #636363;
	font-size: 15px;
}

.headerCss a:visited{
	/* color: #923f40; */
	transform: scale(1.1, 1.1);
}

.headerCss a:hover{
	position: flex;
	color: #923f40;
	transform: scale(1.1, 1.1);
}


/*main样式*/
li{
	list-style: none;
}

a{
	text-decoration: none;
}

h3{
	color: #E44C4C;
	text-align: center;
}

h4{
	margin-bottom: 0;
}

p{
	text-indent: 2em;
	color: #s636363;
	font-weight: 300;
	font-family: sans-serif;
	letter-spacing: 2px;
}

li p{
	 text-indent: 0; 
	 margin: 5px 0 5px 0;
	 font-size: 150;
	 display: inline-block;
}
.sicnu{
	width: 100%;
	height: 240px;
	overflow: hidden;
}

.main{
	width: 100%;
	height: 850px;
	margin-top: 30px;
}

.mainLeft,.mainRight{
	height: 500px;
	float: left;
	/*border: 1px solid red;*/
}

.mainLeft{
	width: 28%;
}

.mainRight{
	width: 66%;
	margin-right: 5%;
	margin-top: 25px;
}

.content1Ul{
	/*padding-left: 0;*/
	margin: 6% auto 0 auto;
}

.spanDiv{
	width: 40%;
	padding: 10px 6%;
	margin: 0 0 2% 21%;
	background: #EAE5E5;
	border-radius: 2px;
	cursor: pointer;
}
.mainSpan{
	color: #636363;
	text-align: center;
	display: block;
}

.imgUs{
	margin-left: 17.5%;
}

.imgMain{
	margin-left: 21%; 
	width: 186px;
}

.imgStyle{
	margin-left: 12%;
}

.link{
	color: #969292;
	margin-right: 1%;
}

#inputLink{
	color: #636363;
	margin-right: 1%;
	border: 0;
}

#inputLink:focus{
	outline: none;
}

.cutofLine{
	background-color: #923f40;
	border: none;
	height: 2px;
	margin-top: 20px;
	display: block;
}

#list2:hover{
	color: #E44C4C;
}

.contentImg{
	vertical-align: middle;
}

.dateSpan{
	padding-left: 35%;
	/*float: right;*/
}

.content1Ul li:nth-of-type(even)
{
	background: #F4F3F3;
}

.content1Ul li:nth-of-type(odd)
{
	border-bottom: 1px dotted #E2D4D4;
}


/*text*/
.textContent{
	width: 70%;
	height: 500px;
	/*border: 1px dotted grey;*/
	margin: 8% auto;
}

h3{
	text-align: center;
}
		
/*footer样式*/

.footerCss{
	position: relative;
	height: 20%;
	width: 100%;
}

.footerBg{
	width: 100%;
	height: 100%;
}

.footerCss p{
	color: #923f40;
	padding-left: 14px;
	margin: 0;
}

.footerCss ul{
	padding: 0;
	margin-top: 10px;
}

.footerCss ul>li{
	list-style: none;
	display: inline-block;
	padding-right: 30px;
	padding-left: 14px;
}

.footerCss a{
	text-decoration: none;
}

.footerCss a:visited{
	color: #636363;
}

.quickLink{
	position: absolute;
	left: 4%;
	top: 10%;
}

.footerLogo{
	position: absolute;
	width: 30%;
	height: 37%;
	left: 5%;
	top: 40%;
}

.footLogo{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.footerMess{
	position: absolute;
	left: 40%;
	top: 50%;
	width: 50%;
}

.footerMess1{
	 position: absolute; 
	height: 100%;
	width: 100%;
}

.footerMess2{
	position: absolute; 
	top: 30px;
	height: 100%;
	width: 100%;
}

.footerMess font{
	padding-left: 14px;
}

